<!--
  Generated template for the PaymentMethodPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar>
    <ion-toolbar>

      <ion-buttons end>
        <ion-title>
          <span style="font-size: 15px">Add Your Payment Method</span>
        </ion-title>
      </ion-buttons>
    </ion-toolbar>
  </ion-navbar>

</ion-header>



<ion-content class="contentStyle">

  <ion-card class="contentStyleCard">

    <ion-card-header>
      Payment Method
    </ion-card-header>

    <ion-card-content>


      <ion-grid style="padding: 0">

        <ion-row style="padding: 0; height: 120px;">
          <ion-col style="text-align: center;" (click)="selectMethod(1)" [ngClass]="{'payMethod' : method =='1'}">
            <i class="fa fa-credit-card" aria-hidden="true" style="font-size: 50px"></i>
            <br/>
            <br/> Credit/ Debit Card
          </ion-col>
          <ion-col style="text-align: center" (click)="selectMethod(2)" [ngClass]="{'payMethod' : method =='2'}">
            <i class="fa fa fa-university" aria-hidden="true" style="font-size: 50px"></i>
            <br/>
            <br/> Bank Account

          </ion-col>
        </ion-row>

      </ion-grid>


    </ion-card-content>

  </ion-card>

  <ion-card *ngIf="method ==1">

    <ion-card-header>
      Credit/ Debit Card Details
    </ion-card-header>

    <ion-card-content>
      <div>
        Credit card Holder Name -
        <br/>
        <input id="cc-number" class="cc" type="text">
      </div>
      <br/>
      <div>
        Credit card No -
        <br/>
        <input id="cc-number" class="cc" type="tel" autocomplete="cc-number" [(ngModel)]="ccNumber" ccNumber (blur)="detectCardType()">
        <i class="fa fa-cc-visa" style="font-size: 25px" aria-hidden="true" *ngIf="ccType =='visa'"></i>
        <i class="fa fa-cc-mastercard" style="font-size: 25px" aria-hidden="true" *ngIf="ccType =='mastercard'"></i>
        <i class="fa fa-cc-amex" style="font-size: 25px" aria-hidden="true" *ngIf="ccType =='amex'"></i>
      </div>
      <br/>
      <div style="margin-bottom: 10px">
        Exp Date -
        <br/>
        <input id="cc-exp-date" class="cc" type="tel" autocomplete="cc-exp" ccExp>
      </div>
    </ion-card-content>

  </ion-card>


  <ion-card *ngIf="method ==2">

    <ion-card-header>
      Bank Account Details
    </ion-card-header>

    <ion-card-content>


      <div>
        Account Name -
        <br/>
        <input class="cc" type="text">
      </div>
      <br/>
      <div>
        Account No -
        <br/>
        <input class="cc" type="number">
      </div>
      <br/>
      <div style="margin-bottom: 10px">
        Swift Code -
        <br/>
        <input class="cc" type="text">
      </div>

    </ion-card-content>

  </ion-card>

  <div text-center>
    <button ion-button secondary color="appholder" (click)="goToDashboard()" style="margin-top: 20px;margin-left: auto;margin-right: auto;width: 300px">Add Payment & Finish</button>
  </div>

</ion-content>