<!--
  Generated template for the RechargePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar>
      <ion-toolbar>
      
        <ion-buttons end>
          <ion-title>
            <span style="font-size: 15px">Current Available Balance</span>
          </ion-title>
        </ion-buttons>
      </ion-toolbar>
    
  </ion-navbar>

</ion-header>

<ion-content class="contentStyleCard">

  <ion-grid style="height: 100%;justify-content: center;">
    <ion-row>
      <ion-col style="text-align: center;font-size: 50px">
        Rs.
        <br/> 1500.00
        <br/>
        <button ion-button secondary color="appholder" style="margin-top: 20px;margin-left: auto;margin-right: auto;width: 250px" (click)="goToRechargeOption()">
          Recharge Now
        </button>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>