<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>


    <ion-buttons end>
      <ion-title>
        <span style="font-size: 15px">{{title}}</span>
      </ion-title>
    </ion-buttons>
  </ion-toolbar>


</ion-header>


<ion-content class="contentStyle">


  <ion-card class="animated bounceInRight contentStyleCard">

    <ion-card-header>
      Balance
    </ion-card-header>

    <ion-card-content>
      <div>
        <span>Your current balance - </span>
        <span>Rs. 1500.00</span>
      </div>
      <div text-center>
        <button ion-button secondary color="appholder" (click)="goToRechargeOption()" style="margin-top: 20px;margin-left: auto;margin-right: auto;width: 300px">Recharge</button>
      </div>
    </ion-card-content>

  </ion-card>


  <ion-card class="animated bounceInLeft contentStyleCard">
      
          <ion-card-header>
            Most Recent Journeys
          </ion-card-header>
      
          <ion-card-content>
            <ion-grid style="width: 100%;">
              <ion-row style="font-weight: bold">
      
                <ion-col>Date</ion-col>
                <ion-col>From</ion-col>
                <ion-col>To</ion-col>
                <ion-col>Charges</ion-col>
              </ion-row>
              <ion-row>
      
                <ion-col>12/11</ion-col>
                <ion-col>Colombo</ion-col>
                <ion-col>Aluthgama</ion-col>
                <ion-col>60.00</ion-col>
              </ion-row>
              <ion-row>
                <ion-col>10/11</ion-col>
                <ion-col>Aluthgama</ion-col>
                <ion-col>Colombo</ion-col>
                <ion-col>60.00</ion-col>
              </ion-row>
              <ion-row>
                <ion-col>08/11</ion-col>
                <ion-col>Panadura</ion-col>
                <ion-col>Colombo</ion-col>
                <ion-col>40.00</ion-col>
              </ion-row>
              <ion-row>
                <ion-col>08/11</ion-col>
                <ion-col>Colombo</ion-col>
                <ion-col>Panadura</ion-col>
                <ion-col>40.00</ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
      
        </ion-card>

        
          <ion-card class="animated bounceInRight contentStyleCard">
        
            <ion-card-header>
              Most Recent Payments
            </ion-card-header>
        
            <ion-card-content>
              <ion-grid style="width: 100%;">
                <ion-row style="font-weight: bold">
        
                  <ion-col>Date</ion-col>
                  <ion-col>IPG Number</ion-col>
                  <ion-col>Amount</ion-col>
                </ion-row>
                <ion-row>
        
                  <ion-col>12/11</ion-col>
                  <ion-col>54545454RTGDF</ion-col>
                  <ion-col>100.00</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>10/11</ion-col>
                  <ion-col>8965544777DHY</ion-col>
                  <ion-col>200.00</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>08/11</ion-col>
                  <ion-col>LKD4545454877</ion-col>
                  <ion-col>500.00</ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
        
          </ion-card>

</ion-content>