<ion-header no-border>
      <ion-navbar>
          <ion-toolbar>
              
                <ion-buttons end>
                  <ion-title>
                    <span style="font-size: 15px">Verifying your account</span>
                  </ion-title>
                </ion-buttons>
              </ion-toolbar>
      </ion-navbar>
    
    </ion-header>
<ion-content class="contentStyle">

  <ion-card>

    <ion-card-content class="contentStyleCard" style="font-size: 15px">
     We will send a verification code for your contact number to verify your account. Please wait... 
    </ion-card-content>

  </ion-card>

  <div class="sk-folding-cube" *ngIf="!verified">
    <div class="sk-cube1 sk-cube"></div>
    <div class="sk-cube2 sk-cube"></div>
    <div class="sk-cube4 sk-cube"></div>
    <div class="sk-cube3 sk-cube"></div>
  </div>

  <ion-card class="waitForVerifiy" [ngClass]="{'animated waitVerifiy bounceInLeft' : verified ==true}">
          <ion-card-content class="contentStyleCard" >
          Verification code - 
          <ion-item class="contentStyleCard">
              <ion-input type="number" placeholder="2565Ae89"></ion-input>
            </ion-item>
          
          </ion-card-content>
      
        </ion-card>
        <div text-center>
            <button  class="waitForVerifiy" (click)="goToAddPayment()" ion-button secondary color="appholder" [ngClass]="{'animated bounceInLeft waitVerifiy' : verified ==true}" style="margin-top: 20px;margin-left: auto;margin-right: auto;width: 300px" >Next Step : Payment Method</button>
          </div>
</ion-content>