<ion-header no-border>

  <ion-navbar>
    <ion-toolbar>

      <ion-buttons end>
        <ion-title>
          <span style="font-size: 15px">{{title}}</span>
        </ion-title>
      </ion-buttons>

    </ion-toolbar>
  </ion-navbar>

</ion-header>
<ion-content class="contentStyle" >

    <div id="clouds">
        <div class="cloud x1"></div>
        <!-- Time for multiple clouds to dance around -->
        <div class="cloud x2"></div>
        <div class="cloud x3"></div>
        <div class="cloud x4"></div>
        <div class="cloud x5"></div>
      </div>

  <ion-grid style="position: absolute;top:10vh;" >
    <ion-row>
      <ion-col style="text-align: center;font-size: 50px">

        <ion-list>

          <ion-item detail-none class="contentStyleLogin">
            <ion-label color="appholder" floating>Username</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>


          <ion-item detail-none class="contentStyleLogin">
            <ion-label color="appholder" floating>Password</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
        </ion-list>
        <div text-center>
          <button ion-button secondary color="appholder" style="margin-top: 25px;margin-left: auto;margin-right: auto;width: 300px"
            (click)="goToDashboard()">Sign in</button>

        </div>

            <a href="#" style="color:#757575;font-size: 12px;float: left;margin-top: 20px">Forgot your password?</a> <br/>
       
            <a href="#" style="color:#757575;font-size: 12px;float: left;" (click)="gpToSignUp()">Don't have account? Create account</a>
         
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
