<!--
  Generated template for the RechargeOptionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar>
    <ion-toolbar>

      <ion-buttons end>
        <ion-title>
          <span style="font-size: 15px">Recharge Your Account</span>
        </ion-title>
      </ion-buttons>
    </ion-toolbar>
  </ion-navbar>

</ion-header>


<ion-content class="contentStyle">

  <ion-card >

    <ion-card-header>
      Available Recharging Method
    </ion-card-header>

    <ion-card-content>
      <div style="font-size: 15px ">
        <span>Credit/ Debit Card</span> <br/>
        <span style="font-weight: bold"> XXXX XXX XXX XXX 111</span>
        <i style="font-size: 20px;margin-left: 10px" class="fa fa-cc-visa" aria-hidden="true"></i>
      </div>
    </ion-card-content>

  </ion-card>

  <ion-card >

    <ion-card-header>
      Recharge Amount
    </ion-card-header>

    <ion-card-content>
      <ion-list>

        <ion-item>
          <ion-label floating>Amount</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Current Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>

      </ion-list>
    </ion-card-content>

  </ion-card>
  <div text-center>
    <button (click)="goToDashboard()" ion-button secondary color="appholder" style="margin-top: 20px;margin-left: auto;margin-right: auto;width: 300px">Recharge My Account</button>
  </div>
</ion-content>