// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-background {
    background-color: #58B848;
    
  }

  *{
    font-family: 'Varela Round', sans-serif;
 
    
  }

  .contentStyle{
      background-color:#E0E0E0;
      // background-color: #F8F8F8;
      color: #757575;
  }

  .contentStyleLogin{
    opacity: 0.5;
    border-radius: 10px;
    margin-bottom: 10px;
    color: #757575;
}

  .contentStyleCard{
    background-color:#F8F8F8;
    color: #757575;
}