<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar style="padding-left: 0">
      <ion-title>
        <ion-grid style="height: 60px;padding-left: 0">
          <ion-row>
            <ion-col style="text-align: center">
              <i style="font-size: 30px;margin-left:auto;margin-top:5px;margin-right:auto;;display: inline-block" class="fa fa-bus" aria-hidden="true"></i>
            </ion-col>
            <ion-col col-10 style="padding-top: 0">
             <ion-grid>

              <ion-row>
                <ion-col col-10 style="font-size: 18px;padding-top: 0;padding-bottom: 0">
                Bus Ticketing System
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-10 style="font-size: 14px;padding-top: 0;padding-bottom: 0">
               {{name}}
                </ion-col>
              </ion-row>

             </ion-grid>

            </ion-col>
          </ion-row>
  
          
        </ion-grid>
      </ion-title>

    </ion-toolbar>
  </ion-header>

  <ion-content class="contentStyle">
    <ion-list>
      <button class="contentStyle" menuClose ion-item (click)="goToDashboard()" >
        <i class="fa fa-home" aria-hidden="true" style="margin-right: 20px"></i> Home
      </button>
      <button class="contentStyle" menuClose ion-item (click)="goToTripHistoryPage()">
        <i class="fa fa-list-alt" aria-hidden="true" style="margin-right: 20px"></i> Journey History
      </button>
      <button class="contentStyle" menuClose ion-item (click)="doRecharge()">
        <i class="fa fa-money" aria-hidden="true"  style="margin-right: 20px"></i> Recharge
      </button>
      <button class="contentStyle" menuClose ion-item (click)="goToPaymentHistory()" >
        <i class="fa fa-list-ul" aria-hidden="true" style="margin-right: 20px"></i> Payment History
      </button>
      <button class="contentStyle" menuClose ion-item >
        <i class="fa fa-cog" aria-hidden="true" style="margin-right: 20px"></i> Settings
      </button>  <button class="contentStyle" menuClose ion-item (click)="signout()">
        <i class="fa fa-cog" aria-hidden="true" style="margin-right: 20px"></i> Signout
      </button>
      <button class="contentStyle" menuClose ion-item >
        <i class="fa fa-rocket" aria-hidden="true" style="margin-right: 20px"></i> Send Feedback
      </button>
    </ion-list>

  </ion-content>

</ion-menu>


<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>