<!--
  Generated template for the PaymentHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar>
    <ion-toolbar>
      <ion-buttons end>
          <ion-title>
            <span style="font-size: 15px">Your Payments History</span>
          </ion-title>
        </ion-buttons>
      </ion-toolbar>

  </ion-navbar>

</ion-header>


<ion-content class="contentStyle">

  <ion-card class="contentStyleCard">

    <ion-card-header>
      Filter
    </ion-card-header>

    <ion-card-content>
      <ion-item class="contentStyleCard">
        <ion-label color="appholder">Start Date</ion-label>
        <ion-datetime displayFormat="YYYY/MM/DD"></ion-datetime>
      </ion-item>

      <ion-item class="contentStyleCard">
        <ion-label color="appholder">End Date</ion-label>
        <ion-datetime displayFormat="YYYY/MM/DD"></ion-datetime>
      </ion-item>


      <div text-center>
          <button ion-button secondary color="appholder"  style="margin-top: 20px;margin-left: auto;margin-right: auto;width: 300px">Filter</button>
        </div>
    </ion-card-content>

  </ion-card>

  <ion-card class="contentStyleCard">

    <ion-card-header>
      Payments History
    </ion-card-header>

    <ion-card-content>
      <ion-grid style="width: 100%;">
        <ion-row style="font-weight: bold">

          <ion-col>Date</ion-col>
          <ion-col>IPG Number</ion-col>
          <ion-col>Amount</ion-col>
        </ion-row>
        <ion-row>

          <ion-col>12/11</ion-col>
          <ion-col>54545454RTGDF</ion-col>
          <ion-col>100.00</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>10/11</ion-col>
          <ion-col>8965544777DHY</ion-col>
          <ion-col>200.00</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>08/11</ion-col>
          <ion-col>LKD4545454877</ion-col>
          <ion-col>500.00</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

  </ion-card>

</ion-content>