<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar>
      <ion-toolbar>
          
            <ion-buttons end>
              <ion-title>
                <span style="font-size: 15px">Signup for New account</span>
              </ion-title>
            </ion-buttons>
          </ion-toolbar>
  </ion-navbar>

</ion-header>


<ion-content class="contentStyle">
<span style="float: right;margin-top: 10px; margin-right: 10px;margin-bottom: 10px"> * Required Fields</span>
  <ion-list no-lines>
      <ion-card class="contentStyleCard">
          
            <ion-card-header>
             <b style="color: #757575"> Account Details </b>
            </ion-card-header>
          
            <ion-card-content>
                <ion-item  class="contentStyleCard">
                    <ion-label color="appholder" floating>Username * </ion-label>
                    <ion-input type="text"></ion-input>
                  </ion-item>
              
                  <ion-item class="contentStyleCard" style="margin-bottom: 10px">
                    <ion-label color="appholder" floating>Password * </ion-label>
                    <ion-input type="password"></ion-input>
                  </ion-item>
            </ion-card-content>
          
          </ion-card>
          <ion-card class="contentStyleCard">
            
                <ion-card-header>
                 <b style="color: #757575"> Contact Details </b>
                </ion-card-header>
              
                <ion-card-content>
                    <ion-item class="contentStyleCard">
                        <ion-label color="appholder" floating>Name * </ion-label>
                        <ion-input type="text"></ion-input>
                      </ion-item>

                      <ion-item class="contentStyleCard">
                          <ion-label color="appholder" floating>Address * </ion-label>
                          <ion-input type="text"></ion-input>
                        </ion-item>

                    <ion-item class="contentStyleCard">
                        <ion-label color="appholder" floating>E-mail Address * </ion-label>
                        <ion-input type="email"></ion-input>
                      </ion-item>
                    
                      <ion-item class="contentStyleCard" style="margin-bottom: 10px">
                        <ion-label color="appholder" floating>Phone Number * </ion-label>
                        <ion-input type="tel"></ion-input>
                      </ion-item>
                </ion-card-content>
              
              </ion-card>
    
  </ion-list>
  <div text-center>
      <button ion-button secondary color="appholder" style="margin-top: 10px;margin-left: auto;margin-right: auto;width: 300px" (click)="goToVerification()" >Next Step : Verification</button>
    </div>

</ion-content>