<ion-header no-border>

  <ion-navbar>
    <ion-toolbar>

      <ion-buttons end>
        <ion-title>
          <span style="font-size: 15px">Do you want to signout from app?</span>
        </ion-title>
      </ion-buttons>
    </ion-toolbar>

    <ion-toolbar>

      <ion-buttons end>
        <span style="font-size: 15px">
          <button ion-button color="light" outline (click)="noStay()">
            No. Stay please
          </button>
        </span>
      </ion-buttons>
   
    </ion-toolbar>

    <ion-toolbar>
      
            <ion-buttons end>
              <span style="font-size: 15px">
                <button ion-button color="light" (click)="goToHome()" outline>
                  Yes. Signout now
                </button>
              </span>
            </ion-buttons>
         
          </ion-toolbar>
  </ion-navbar>

</ion-header>


<ion-content class="contentStyleCard">

</ion-content>